html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.todo {
	max-width: 300px;
	border: 1px solid red;
	padding: 20px;
}

.heading {
	font-size: 12px;
	color: red;
}

.add {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.add-input {
	width: 70%;
}

.btn {
	cursor: pointer;
}

.btn-add {
	width: 20%;
}

.todo-list {
	list-style-type: none;
	padding: 0;
	margin: 14px 0 14px 0;
}

.todo-list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	margin-bottom: 10px;
}

.todo-list__text {
	display: flex;
	flex: 60%;
	margin: 6px;	
}

.todo-list__btn-del {
	padding: 5px;
	background: inherit;
	border: none;
	outline: none;
}

.todo__del-btn {
	width: 100%;
}

.holding {
	background-color: grey;
}

.warning-block {
	display: flex;
	justify-content: center;
	color: red;
	display: none;
}